{:objects {:Brewery {:description "A brewery that preduces beers"
                     :fields {:id {:type Int
                                   :description "The identifier of the brewery in the system"}
                              :name {:type (non-null String)
                                     :description "The displayed name of the brewery"}
                              :description {:type (non-null String)
                                            :description "The description of the brewery"}
                              :imagePath {:type (null String)
                                          :description "The logo or the building of the brewery"}}}
           :Beer {:description "A beer produced by a brewery"
                  :fields {:id {:type Int
                                :description "The identifier of the beer in the system"}
                           :name {:type (non-null String)
                                  :description "The displayed name of the beer"}
                           :description {:type (non-null String)
                                         :description "The description of the brewery"}
                           :ibu {:type Int
                                 :description "The IBU value of the beer"}
                           :alcoholPercent {:type Float
                                           :description "The alcohol percentage content of the beer"}
                           :imagePath {:type (null String)
                                       :description "The logo or the building of the beer"}
                           :breweries {:type (list :Brewery)
                                       :description "The breweries that have created the beer"}}}}
 :queries {:brewery {:type :Brewery
                     :description "Retrieve a single brewery by its id"
                     :args {:id {:type Int
                                 :description "The id of the desired brewery"}}
                     :resolve :resolve-brewery}
           :breweries {:type (list :Brewery)
                       :description "Retrive all breweries"
                       :resolve :resolve-breweries}
           :beer {:type :Beer
                  :description "Retrive a single beer by its id"
                  :args {:id {:type Int
                              :description "The id oh the desired beer"}}
                  :resolve :resolve-beer}
           :beers {:type (list :Beer)
                   :description "Retrive all beers"
                   :resolve :resolve-beers}}
 :mutations {}}
