{:enums     {:OrderType          {:description "Ascending or descending sort enum"
                                  :values      [:ASC :DESC]}
             :TagOrder           {:description "Define how tags can be sorted"
                                  :values      [:NAME :BREWERY_POPULARITY :BEER_POPULARITY]}
             :BreweryOrder       {:description "Define how breweries can be sorted"
                                  :values      [:NAME :RATING]}
             :BeerStyleOrder     {:description "Define how breweries can be sorted"
                                  :values      [:NAME]}
             :BeerOrder          {:description "Define how beers can be sorted"
                                  :values      [:NAME :RATING]}
             :ReviewOrder        {:description "Define how reviews can be sorted"
                                  :values      [:TIME :THUMBSUP_COUNT]}
             :ReviewCommentOrder {:description "Define how review comments can be sorted"
                                  :values      [:TIME]}}
 :objects   {:User                 {:description "A user logged into the system"
                                    :fields      {:cip     {:type        (non-null String)
                                                            :description "The cip of the user"}
                                                  :name    {:type        (non-null String)
                                                            :descriprion "The name of the user"}
                                                  :surname {:type        (non-null String)
                                                            :description "The surname of the user"}
                                                  :token   {:type        String
                                                            :description "The authentication token"}}}
             :Tag                  {:description "A tag applied to a beer or brewery"
                                    :fields      {:id   {:type        Int
                                                         :description "The identifier of the tag in the system"}
                                                  :name {:type        (non-null String)
                                                         :description "The displayed name of the tag"}}}
             :Thumbsup             {:description "A thumbs-up applied to a beer or brewery review"
                                    :fields      {:user {:type        :User
                                                         :description "The user that applied the thumbs-up"}}}
             :Brewery              {:description "A brewery that produces beers"
                                    :fields      {:id          {:type        Int
                                                                :description "The identifier of the brewery in the system"}
                                                  :name        {:type        (non-null String)
                                                                :description "The displayed name of the brewery"}
                                                  :description {:type        String
                                                                :description "The description of the brewery"}
                                                  :imagePath   {:type        String
                                                                :description "The logo or the building of the brewery"}
                                                  :tags        {:type        (list :Tag)
                                                                :description "The tags associated to the brewery"}
                                                  :rating      {:type        Float
                                                                :description "The brewery rating"}}}
             :BeerStyle            {:description "A style of a beer"
                                    :fields      {:id   {:type        Int
                                                         :description "The identifier of the beer style"}
                                                  :name {:type        (non-null String)
                                                         :description "The name of the beer style"}}}
             :Beer                 {:description "A beer produced by a brewery"
                                    :fields      {:id             {:type        Int
                                                                   :description "The identifier of the beer in the system"}
                                                  :name           {:type        (non-null String)
                                                                   :description "The displayed name of the beer"}
                                                  :description    {:type        (non-null String)
                                                                   :description "The description of the brewery"}
                                                  :ibu            {:type        Int
                                                                   :description "The IBU value of the beer"}
                                                  :alcoholPercent {:type        Float
                                                                   :description "The alcohol percentage content of the beer"}
                                                  :imagePath      {:type        String
                                                                   :description "The logo or the building of the beer"}
                                                  :breweries      {:type        (list :Brewery)
                                                                   :description "The breweries that have created the beer"}
                                                  :tags           {:type        (list :Tag)
                                                                   :description "The tags associated to the beer"}
                                                  :rating         {:type        Float
                                                                   :description "The beer rating"}
                                                  :style          {:type        :BeerStyle
                                                                   :description "The style of the beer"}}}
             :BeerReview           {:description "A review of a beer"
                                    :fields      {:idBeerReview {:type        Int
                                                                 :description "The identifier of the beer review in the system"}
                                                  :user         {:type        :User
                                                                 :description "The user that posted the beer review"}
                                                  :idBeer       {:type        Int
                                                                 :description "The identifier of the beer in the system"}
                                                  :title        {:type        (non-null String)
                                                                 :description "Title of the beer review"}
                                                  :content      {:type        (non-null String)
                                                                 :description "Content of the beer review"}
                                                  :imagePath    {:type        String
                                                                 :description "The logo or the building of the beer"}
                                                  :rating       {:type        Float
                                                                 :description "The rating of the beer in the review"}
                                                  :time         {:type        (non-null String)
                                                                 :description "Time at which the review of the beer was posted"}
                                                  :thumbsups    {:type        (list :Thumbsup)
                                                                 :description "The thumbs-ups applied top the review"}}}
             :BreweryReview        {:description "A review of a brewery"
                                    :fields      {:idBreweryReview {:type        Int
                                                                    :description "The identifier of the brewery review in the system"}
                                                  :user            {:type        :User
                                                                    :description "The user that posted the brewery review"}
                                                  :idBrewery       {:type        Int
                                                                    :description "The identifier of the brewery in the system"}
                                                  :title           {:type        (non-null String)
                                                                    :description "Title of the brewery review"}
                                                  :content         {:type        (non-null String)
                                                                    :description "Content of the brewery review"}
                                                  :imagePath       {:type        String
                                                                    :description "The logo or the building of the brewery"}
                                                  :rating          {:type        Float
                                                                    :description "The rating of the brewery in the review"}
                                                  :time            {:type        (non-null String)
                                                                    :description "Time at which the review of the brewery was posted"}
                                                  :thumbsups       {:type        (list :Thumbsup)
                                                                    :description "The thumbs-ups applied top the review"}}}
             :BeerReviewComment    {:description "A comment of a beer review"
                                    :fields      {:idBeerReviewComment {:type        Int
                                                                        :description "The identifier of the beer review comment in the system"}
                                                  :idBeerReview        {:type        Int
                                                                        :description "The identifier of the beer review"}
                                                  :user                {:type        :User
                                                                        :description "The user that posted the beer review comment"}
                                                  :content             {:type        (non-null String)
                                                                        :description "The content of the comment"}
                                                  :time                {:type        (non-null String)
                                                                        :description "Time at which the comment was posted"}}}
             :BreweryReviewComment {:description "A comment of a brewery review"
                                    :fields      {:idBreweryReviewComment {:type        Int
                                                                           :description "The identifier of the brewery review comment in the system"}
                                                  :idBreweryReview        {:type        Int
                                                                           :description "The identifier of the brewery review"}
                                                  :user                   {:type        :User
                                                                           :description "The user that posted the brewery review comment"}
                                                  :content                {:type        (non-null String)
                                                                           :description "The content of the comment"}
                                                  :time                   {:type        (non-null String)
                                                                           :description "Time at which the comment was posted"}}}}
 :queries   {:tags                  {:type        (list :Tag)
                                     :description "Retrieve all tags ordered by name"
                                     :args        {:skip      {:type        (non-null Int)
                                                               :description "Tag quantity to skip"}
                                                   :first     {:type        (non-null Int)
                                                               :description "Tag quantity to return"}
                                                   :orderBy   {:type        (non-null :TagOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}}
                                     :resolve     :resolve-tags}
             :brewery               {:type        :Brewery
                                     :description "Retrieve a single brewery by its id"
                                     :args        {:id {:type        Int
                                                        :description "The id of the desired brewery"}}
                                     :resolve     :resolve-brewery}
             :breweries             {:type        (list :Brewery)
                                     :description "Retrieve all breweries"
                                     :args        {:skip      {:type        (non-null Int)
                                                               :description "Brewery quantity to skip"}
                                                   :first     {:type        (non-null Int)
                                                               :description "Brewery quantity to return"}
                                                   :orderBy   {:type        (non-null :BreweryOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}
                                                   :tags      {:type          (list Int)
                                                               :description   "Filter breweries by tag ids. ([] = disabled filter)"
                                                               :default-value []}}
                                     :resolve     :resolve-breweries}
             :breweryReview         {:type        :BreweryReview
                                     :description "Retrieve a single brewery review by its id"
                                     :args        {:idBreweryReview {:type        Int
                                                                     :description "The id of the desired brewery review"}}
                                     :resolve     :resolve-brewery-review}
             :breweryReviews        {:type        (list :BreweryReview)
                                     :description "Retrieve all reviews for a brewery"
                                     :args        {:skip      {:type        Int
                                                               :description "Brewery reviews to skip"}
                                                   :first     {:type        Int
                                                               :description "Brewery reviews to return"}
                                                   :orderBy   {:type        (non-null :ReviewOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}
                                                   :breweries {:type          (list Int)
                                                               :description   "Filter reviews by brewery ids. ([] = disabled filter)"
                                                               :default-value []}
                                                   :cips      {:type          (list String)
                                                               :description   "Filter reviews by cips. ([] = disabled filter)"
                                                               :default-value []}}
                                     :resolve     :resolve-brewery-reviews}
             :breweryReviewComment  {:type        :BreweryReviewComment
                                     :description "Retrieve a single brewery review comment by its id"
                                     :args        {:idBreweryReviewComment {:type        Int
                                                                            :description "The id of the desired brewery review comment"}}
                                     :resolve     :resolve-brewery-review-comment}
             :breweryReviewComments {:type        (list :BreweryReviewComment)
                                     :description "Retrieve all comments for a brewery review"
                                     :args        {:skip           {:type        Int
                                                                    :description "Brewery review comments to skip"}
                                                   :first          {:type        Int
                                                                    :description "Brewery review comments to return"}
                                                   :orderBy        {:type        (non-null :ReviewCommentOrder)
                                                                    :description "Determine how to sort the result"}
                                                   :orderType      {:type        (non-null :OrderType)
                                                                    :description "Ascending or descending sort"}
                                                   :breweryReviews {:type          (list Int)
                                                                    :description   "Filter review comments by brewery review ids. ([] = disabled filter)"
                                                                    :default-value []}
                                                   :cips           {:type          (list String)
                                                                    :description   "Filter review comments by cips. ([] = disabled filter)"
                                                                    :default-value []}}
                                     :resolve     :resolve-brewery-review-comments}
             :beerStyles            {:type        (list :BeerStyle)
                                     :description "Retrieve all beer styles ordered by name"
                                     :args        {:skip      {:type        (non-null Int)
                                                               :description "Beer style quantity to skip"}
                                                   :first     {:type        (non-null Int)
                                                               :description "Beer style quantity to return"}
                                                   :orderBy   {:type        (non-null :BeerStyleOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}}
                                     :resolve     :resolve-beer-styles}
             :beer                  {:type        :Beer
                                     :description "Retrieve a single beer by its id"
                                     :args        {:id {:type        Int
                                                        :description "The id of the desired beer"}}
                                     :resolve     :resolve-beer}
             :beers                 {:type        (list :Beer)
                                     :description "Retrieve all beers"
                                     :args        {:skip      {:type        (non-null Int)
                                                               :description "Beer quantity to skip"}
                                                   :first     {:type        (non-null Int)
                                                               :description "Beer quantity to return"}
                                                   :orderBy   {:type        (non-null :BeerOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}
                                                   :breweries {:type          (list Int)
                                                               :description   "Filter beers by brewery ids. ([] = disabled filter)"
                                                               :default-value []}
                                                   :tags      {:type          (list Int)
                                                               :description   "Filter beers by tag ids. ([] = disabled filter)"
                                                               :default-value []}
                                                   :styles    {:type          (list Int)
                                                               :description   "Filter beers by style ids. ([] = disabled filter)"
                                                               :default-value []}}
                                     :resolve     :resolve-beers}
             :beerReview            {:type        :BeerReview
                                     :description "Retrieve a single beer review by its id"
                                     :args        {:idBeerReview {:type        Int
                                                                  :description "The id of the desired beer review"}}
                                     :resolve     :resolve-beer-review}
             :beerReviews           {:type        (list :BeerReview)
                                     :description "Retrieve all beer reviews"
                                     :args        {:skip      {:type        Int
                                                               :description "Beer reviews to skip"}
                                                   :first     {:type        Int
                                                               :description "Beer reviews to return"}
                                                   :orderBy   {:type        (non-null :ReviewOrder)
                                                               :description "Determine how to sort the result"}
                                                   :orderType {:type        (non-null :OrderType)
                                                               :description "Ascending or descending sort"}
                                                   :beers     {:type          (list Int)
                                                               :description   "Filter reviews by beer ids. ([] = disabled filter)"
                                                               :default-value []}
                                                   :cips      {:type          (list String)
                                                               :description   "Filter reviews by cips. ([] = disabled filter)"
                                                               :default-value []}}
                                     :resolve     :resolve-beer-reviews}
             :beerReviewComment     {:type        :BeerReviewComment
                                     :description "Retrieve a single beer review comment by its id"
                                     :args        {:idBeerReviewComment {:type        Int
                                                                         :description "The id of the desired beer review comment"}}
                                     :resolve     :resolve-beer-review-comment}
             :beerReviewComments    {:type        (list :BeerReviewComment)
                                     :description "Retrieve all comments for a beer review"
                                     :args        {:skip        {:type        Int
                                                                 :description "Beer review comments to skip"}
                                                   :first       {:type        Int
                                                                 :description "Beer review comments to return"}
                                                   :orderBy     {:type        (non-null :ReviewCommentOrder)
                                                                 :description "Determine how to sort the result"}
                                                   :orderType   {:type        (non-null :OrderType)
                                                                 :description "Ascending or descending sort"}
                                                   :beerReviews {:type          (list Int)
                                                                 :description   "Filter review comments by beer review ids. ([] = disabled filter)"
                                                                 :default-value []}
                                                   :cips        {:type          (list String)
                                                                 :description   "Filter review comments by cips. ([] = disabled filter)"
                                                                 :default-value []}}
                                     :resolve     :resolve-beer-review-comments}}
 :mutations {:login                    {:type        :User
                                        :description "Login the user using the CAS ticket"
                                        :args        {:ticket {:type        (non-null String)
                                                               :description "The CAS ticket"}}
                                        :resolve     :resolve-login}
             :logout                   {:type        Int
                                        :description "Logout the user"
                                        :resolve     :resolve-logout}
             :insertBeerReviewThumbsup {:type        Int
                                        :description "The logged user add a thumbs-up to the specified beer review"
                                        :args        {:id {:type        Int
                                                           :description "The beer review id"}}
                                        :resolve     :resolve-insert-beer-review-thumbsup}
             :deleteBeerReviewThumbsup {:type        Int
                                        :description "The logged user remove his thumbs-up from the specified beer review"
                                        :args        {:id {:type        Int
                                                           :description "The beer review id"}}
                                        :resolve     :resolve-delete-beer-review-thumbsup}}}
